<!DOCTYPE html>
<html lang="en">
<head>
<%- include("include/head.html", {title: "Home"}); %>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="100" onload="bodyOnLoad();">


<%- include("include/navbar.html"); %>
<div class="page-header">
	<%- include("include/body_header_1.html"); %>
</div>

<div class="section-breaker"></div>
<div id="about" class="container-fluid page-section">
	<%- include("include/body_sections/projects.html"); %>
</div>


<div class="section-breaker"></div>
<div id="images" class="container-fluid page-section">
	<%- include("include/body_sections/images.html", {carouselNames: carouselNames}); %>
</div>


<div class="section-breaker"></div>
<div id="blogs" class="container-fluid page-section">
	<%- include("include/body_sections/blogs.html"); %>
</div>


<div class="section-breaker"></div>
<div id="fileservices" class="container-fluid page-section">
	<%- include("include/body_sections/fileservices.html"); %>
</div>


<div class="section-breaker"></div>
<div id="contact" class="container-fluid page-section">
	<%- include("include/body_sections/contact.html"); %>
</div>

<%- include("include/body_footer_1.html"); %>
<%- include("include/body_end_stuffs.html"); %>
</body>
</html>