<!DOCTYPE html>
<html lang="en">
<head>
<!-- Stuffs for bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- Stuffs good to have -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- initial zoom level when page is first loaded. -->
<!-- My Stuffs -->
	<link rel="stylesheet" href="/styles/main.css">
	<script src="/scripts/main.js"></script>
	<title>Dash</title>
</head>
<body lang="en-US">
<div class="pageheader" style="background-image: url('/pageheader.jpg'); background-repeat: no-repeat; b ">
	<div>
		<h1 class="text-center bg-none text-white" style="font-size:3em;">Merry Christmas!</h1>
	</div>
</div>
<div>
	<div class="container container-fluid">
		<div class="row">
			<div class="col my-1">
				<a href="/" class="btn btn-success m-1 active disabled" role="button">Home</a>
				<a href="/write.html" class="btn btn-success m-1" role="button">Write Wishes</a>
				<a href="/view.html" class="btn btn-success m-1" role="button">View Wishes</a>
				<a href="/changepass.html" class="btn btn-success m-1" role="button">Change Password</a>
				<a href="/signout.html" class="btn btn-success m-1 bg-danger" role="button">Sign Out</a>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col">
				<h1 class="text-white text-center mx-auto">All members...</h1>
			</div>
		</div>
		<div class="row mt-5">
		</div>
		<div class="row mt-5">
			<div class="col-sm-0 col-md-2 col-lg-3">
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<ul class="list-group list1">
				</ul>
				<br>
				<input id="addUser" class="form-control" type="text" placeholder="Firstname" name="fname">
				<button class="btn btn-small btn-primary" onclick="addUser();">Add Member<button>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-3">
				<ul class="list-group list2">
					<!--<li class="list-group-item member-name">Second</li>-->
				</ul>
			</div>
			<div class="col-sm-0 col-md-2 col-lg-3">
			</div>
		</div>
	</div>
</div>
<div class="bodyfooter">
	<script>
		function footerChange(){
			var text = ["© Paras Humagain 2018", "All rights reserved"];
			var colors = ["white", "green", "#aaffaa", "black", "#ffaaaa", "#ccccff", "white", "white", "green", "red", "black"]; // red, green, blue
			var box = document.getElementsByClassName("bodyfooter")[0]
			box.innerHTML=""; //&copy;";
			for (var i1 = 0; i1 < text.length; i1++){
				for (var i2 = 0; i2 < text[i1].length; i2++){
					var color1 = Math.floor(Math.random() * 255);
					var color2 = Math.floor(Math.random() * 255);
					var color3 = Math.floor(Math.random() * 100);
					box.innerHTML += "<span style=\"color:rgb(" + color1 +',' + color2 + "," + color3 + ");\">" + text[i1][i2] + "</span>";
				}
				if (i1 != text.length-1) box.innerHTML += "<br>";
			}
		}
		var footerChanger = setInterval(footerChange,1000);
	</script>
</div>
<script src = "/socket.io/socket.io.js"></script>
<script>
	function getMembers(){
		$.get("/members.json", function(data){
			names = JSON.parse(data);
			fname = names[0];
			names = names.slice(1, names.length);
			proceed();
		});
	}
	var names = [];
	getMembers();
	
	function proceed(){
		var list1 = document.getElementsByClassName("list1")[0];
		var list2 = document.getElementsByClassName("list2")[0];
		list1.innerHTML = "";
		list2.innerHTML = "";
		for (var i=0; i<names.length; i++){
			list1.innerHTML += '<li class="list-group-item member-name">' + names[i] + '</li>'
			if (i!=names.length-1)
				list2.innerHTML += '<li class="list-group-item member-name">' + names[i+1] + '</li>'
			i++;
		}
	}

	function addUser(){
		var name= document.getElementById("addUser").value;
		$.get("/addMembers.json?fname="+name, function(data){
			getMembers();
		});

	}
</script>

<!-- React things go here -- s>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<!-- Load our React component. -->

</body>
</html>