<div class="text-center text-white section-title">
	<h2 class="code section-title-text">About</h2>
</div>
<div class="container container-fluid text-white">
	<div class="row">
		<div class="col col-md-9 col-lg-7 mx-auto my-5">
			<h4 class="text-center">Computer Engineering Junior<br>University of Texas at Arlington</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-4">
			<div>
				<h5>Stuffs I am into:</h5>
				<p>
					<ul>
						<li>Machine Learning, Artificial Intelligence, Neural Network, etc.</li>
						<li>Software Engineering</li>
						<li>Hardware Engineering</li>
						<li>System Troubleshooting</li>
						<li>Teaching and Research</li>
					</ul>
				</p>
			</div>
			<div>
				<h5>Projects</h5>
				<p class="code">
						<small>I've done many projects related to all sorts of stuffs - machine learning, full stack development, software design, hardware design, and the list goes on. Please message me <a href='#section5' class="text-dark">here</a> if you are interested in any specific type and I will get back to you as soon as practical.</small>
				</p>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-4">
			<h5>Languages and tools I am comfortable with:</h5>
			<p>
				<ul>
					<li>Python (including TenserFlow, SciPy, NumPy, and more) </li>
					<li>JavaScript (including NodeJS, JQuery, React\Native, Express, Angular, and more)</li>
					<li>C\C++</li>
					<li>MongoDB</li>
					<li>MySQL</li>
					<li>REST API</li>
					<li>TCP/IP</li>
					<li>HTML & CSS</li>
					<li>JSON & XML</li>
					<li>Octave</li>
					<li>MATLAB</li>
					<li>Verilog</li>
					<li>Git</li>
					<li>Unix</li>
				</ul>
			</p>
		</div>
		<div class="col-12 col-md-6 col-lg-4">
			<h5>Things I like to do when I am free:</h5>
			<p>
				<ul>
					<li>Play Soccer</li>
					<li>Hangout with friends</li>
					<li>Watch movies and shows (GOT is my favorite)</li>
					<li>Wish I could go to the beach on a hot sunny day</li>
				</ul>
			</p>
		</div>
	</div>
</div>